In [1]:
import requests
import pprint

url = "https://api.data.gov.my/data-catalogue?id=ridership_headline&limit=100" 

response_json = requests.get(url=url).json()
pprint.pprint(response_json)

[{'bus_rkl': None,
  'bus_rkn': None,
  'bus_rpn': None,
  'date': '2019-01-01',
  'rail_ets': None,
  'rail_intercity': None,
  'rail_komuter': None,
  'rail_komuter_utara': None,
  'rail_lrt_ampang': 113357,
  'rail_lrt_kj': 139634,
  'rail_monorail': 35804,
  'rail_mrt_kajang': 114173,
  'rail_mrt_pjy': None,
  'rail_tebrau': None},
 {'bus_rkl': None,
  'bus_rkn': None,
  'bus_rpn': None,
  'date': '2019-01-02',
  'rail_ets': None,
  'rail_intercity': None,
  'rail_komuter': None,
  'rail_komuter_utara': None,
  'rail_lrt_ampang': 182715,
  'rail_lrt_kj': 274224,
  'rail_monorail': 31859,
  'rail_mrt_kajang': 169316,
  'rail_mrt_pjy': None,
  'rail_tebrau': None},
 {'bus_rkl': None,
  'bus_rkn': None,
  'bus_rpn': None,
  'date': '2019-01-03',
  'rail_ets': None,
  'rail_intercity': None,
  'rail_komuter': None,
  'rail_komuter_utara': None,
  'rail_lrt_ampang': 187904,
  'rail_lrt_kj': 286469,
  'rail_monorail': 31893,
  'rail_mrt_kajang': 175304,
  'rail_mrt_pjy': None,
  'rail_tebrau': None}]

In [2]:
import dlt

pipeline = dlt.pipeline(
    import_schema_path="schemas/import",
    export_schema_path="schemas/export",
    pipeline_name="ridership_pipeline", 
    destination="duckdb", 
    dataset_name="my_ridership"
    )

In [3]:
from dlt.sources.helpers import requests

DATASET_URL = "https://api.data.gov.my/data-catalogue?id=ridership_headline&limit=100"

data = requests.get(DATASET_URL).json()

In [2]:
data

[{'date': '2019-01-01',
  'bus_rkl': None,
  'bus_rkn': None,
  'bus_rpn': None,
  'rail_ets': None,
  'rail_lrt_kj': 139634,
  'rail_tebrau': None,
  'rail_komuter': None,
  'rail_mrt_pjy': None,
  'rail_monorail': 35804,
  'rail_intercity': None,
  'rail_lrt_ampang': 113357,
  'rail_mrt_kajang': 114173,
  'rail_komuter_utara': None},
 {'date': '2019-01-02',
  'bus_rkl': None,
  'bus_rkn': None,
  'bus_rpn': None,
  'rail_ets': None,
  'rail_lrt_kj': 274224,
  'rail_tebrau': None,
  'rail_komuter': None,
  'rail_mrt_pjy': None,
  'rail_monorail': 31859,
  'rail_intercity': None,
  'rail_lrt_ampang': 182715,
  'rail_mrt_kajang': 169316,
  'rail_komuter_utara': None},
 {'date': '2019-01-03',
  'bus_rkl': None,
  'bus_rkn': None,
  'bus_rpn': None,
  'rail_ets': None,
  'rail_lrt_kj': 286469,
  'rail_tebrau': None,
  'rail_komuter': None,
  'rail_mrt_pjy': None,
  'rail_monorail': 31893,
  'rail_intercity': None,
  'rail_lrt_ampang': 187904,
  'rail_mrt_kajang': 175304,
  'rail_komuter_utara': None}]

In [6]:
pipeline.run(data, table_name="ridership")

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x000002D4A82FB2E0>, metrics={'1708562023.9329188': [{'started_at': DateTime(2024, 2, 22, 0, 33, 45, 302533, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 22, 0, 33, 45, 936009, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:///c:\\DTC-DE\\Project\\my-public-transport-ridership\\ridership_pipeline.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='my_ridership', loads_ids=['1708562023.9329188'], load_packages=[LoadPackageInfo(load_id='1708562023.9329188', package_path='C:\\Users\\ahish\\.dlt\\pipelines\\ridership_pipeline\\load\\loaded\\1708562023.9329188', state='loaded', schema=Schema ridership at 3112405892688, schema_update={}, completed_at=DateTime(2024, 2, 22, 0, 33, 45, 849633, tzinfo=Timezone('UTC')), jobs={'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\ahish\\.dlt\\pipelines\\ridership_pipeline\\load\\loaded\\1708562023.9329188\\completed_jobs\\ridership.0f39999a01.0.insert_values', file_size=3312, created_at=DateTime(2024, 2, 22, 0, 33, 44, 498402, tzinfo=Timezone('UTC')), elapsed=1.3512308597564697, job_file_info=ParsedLoadJobFileName(table_name='ridership', file_id='0f39999a01', retry_count=0, file_format='insert_values'), failed_message=None)], 'started_jobs': [], 'failed_jobs': [], 'new_jobs': []})], first_run=False)

In [7]:
import duckdb

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

conn.sql(f"SET search_path = '{pipeline.dataset_name}'")

display(conn.sql("DESCRIBE"))

stats_table = conn.sql("SELECT * FROM ridership where ").df()
display(stats_table)

┌────────────────────┬──────────────┬─────────────────────┬──────────────────────┬─────────────────────────┬───────────┐
│      database      │    schema    │        name         │     column_names     │      column_types       │ temporary │
│      varchar       │   varchar    │       varchar       │      varchar[]       │        varchar[]        │  boolean  │
├────────────────────┼──────────────┼─────────────────────┼──────────────────────┼─────────────────────────┼───────────┤
│ ridership_pipeline │ my_ridership │ _dlt_loads          │ [load_id, schema_n…  │ [VARCHAR, VARCHAR, BI…  │ false     │
│ ridership_pipeline │ my_ridership │ _dlt_pipeline_state │ [version, engine_v…  │ [BIGINT, BIGINT, VARC…  │ false     │
│ ridership_pipeline │ my_ridership │ _dlt_version        │ [version, engine_v…  │ [BIGINT, BIGINT, TIME…  │ false     │
│ ridership_pipeline │ my_ridership │ ridership           │ [date, rail_lrt_kj…  │ [VARCHAR, BIGINT, BIG…  │ false     │
└────────────────────┴──────────────┴─────────────────────┴──────────────────────┴─────────────────────────┴───────────┘

,date,rail_lrt_kj,rail_monorail,rail_lrt_ampang,rail_mrt_kajang,_dlt_load_id,_dlt_id
0,2019-01-01,139634,35804,113357,114173,1708543183.082594,FauzDV+UjwnGNA
1,2019-01-02,274224,31859,182715,169316,1708543183.082594,8qc8LLgWZX+x7w
2,2019-01-03,286469,31893,187904,175304,1708543183.082594,ah6cnbAzYuQDqA
3,2019-01-01,139634,35804,113357,114173,1708544126.6723144,UdenHRMeCXc1iA
4,2019-01-02,274224,31859,182715,169316,1708544126.6723144,MmeIkgRlXd7YvQ
...,...,...,...,...,...,...,...
298,2019-04-06,172325,33828,160353,130768,1708562023.9329188,gEwD2aKuulgYeQ
299,2019-04-07,139908,29366,130957,109808,1708562023.9329188,HuU6Kigacc1c9Q
300,2019-04-08,312395,33474,202323,194782,1708562023.9329188,/aonqivAOWchMw
301,2019-04-09,317200,32767,200751,197901,1708562023.9329188,wn+ghq8DnJQSew
302,2019-04-10,318125,32572,200386,198312,1708562023.9329188,y+sIsjH65mHC6w

In [1]:
import os

# Extracting Weather Forecast From API

In [44]:
import requests

def api_get_data(url: str):
    response = requests.get(url, stream=True)
    response.raise_for_status()

    counter: int = 0
    limit: int = 10
    
    for items in response.json():
        yield items

if __name__ == '__main__':
    api_get_data('https://api.data.gov.my/weather/forecast')

In [45]:
import dlt

url="https://api.data.gov.my/weather/forecast"

pipeline = dlt.pipeline(pipeline_name='forecast_pipeline', destination='duckdb', dataset_name='weather_data', full_refresh=True)
info = pipeline.run(api_get_data(url), table_name="forecast", write_disposition="replace")

print(info)

Pipeline forecast_pipeline load step completed in 3.04 seconds
1 load package(s) were loaded to destination duckdb and into dataset weather_data_20240229064535
The duckdb destination used duckdb:///c:\DTC-DE\Project\my-public-transport-ridership\forecast_pipeline.duckdb location to store data
Load package 1709189135.9704862 is LOADED and contains no failed jobs

In [1]:

import duckdb 
import pandas as pd

conn = duckdb.connect("forecast_pipeline.duckdb")

# let's see the tables
conn.sql(f"SET search_path = 'weather_data'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n forecast table below:")

rides = conn.sql("SELECT * FROM forecast where location__location_id == 'Ds001'").df()
display(rides)

conn.close()

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ forecast            │
└─────────────────────┘

 forecast table below:

,location__location_id,date,location__location_name,morning_forecast,afternoon_forecast,night_forecast,summary_forecast,summary_when,min_temp,max_temp,_dlt_load_id,_dlt_id
0,Ds001,2024-02-29,Langkawi,Tiada hujan,Tiada hujan,Tiada hujan,Tiada hujan,Sepanjang Hari,26,35,1709196868.6805222,reKlazaZshKWsg
1,Ds001,2024-03-02,Langkawi,Tiada hujan,Tiada hujan,Tiada hujan,Tiada hujan,Sepanjang Hari,26,35,1709280738.512874,QLnf7oNRG/L4Yg
2,Ds001,2024-03-06,Langkawi,Tiada hujan,Tiada hujan,Tiada hujan,Tiada hujan,Sepanjang Hari,26,35,1709280738.512874,dLmP5pnoigc+Yg
3,Ds001,2024-03-01,Langkawi,Tiada hujan,Tiada hujan,Tiada hujan,Tiada hujan,Sepanjang Hari,26,35,1709280738.512874,4WgT/AHY5GRBgA
4,Ds001,2024-03-07,Langkawi,Tiada hujan,Tiada hujan,Tiada hujan,Tiada hujan,Sepanjang Hari,26,35,1709280738.512874,dBNWiWtOSqTtNQ
5,Ds001,2024-03-05,Langkawi,Tiada hujan,Tiada hujan,Tiada hujan,Tiada hujan,Sepanjang Hari,26,35,1709280738.512874,/ZMrJ0L1O40Aaw
6,Ds001,2024-03-04,Langkawi,Tiada hujan,Tiada hujan,Tiada hujan,Tiada hujan,Sepanjang Hari,26,35,1709280738.512874,Serwd4C1RSLudg
7,Ds001,2024-03-03,Langkawi,Tiada hujan,Tiada hujan,Tiada hujan,Tiada hujan,Sepanjang Hari,26,35,1709280738.512874,7ceJM5dr7wMJBQ

In [2]:
conn.close()

# ~~Downloading Datasets From Kaggle~~ (Discontinued)

In [27]:
import kaggle
import zipfile
import json

kaggle.api.authenticate()
kaggle.api.dataset_download_file('fronkongames/steam-games-dataset', "games.json", force=False)
print("Downloaded Dataset")

with zipfile.ZipFile('games.json.zip', 'r') as archive:
    file = archive.read('games.json')
    data = json.loads(file.decode("utf-8"))
    print("Loaded JSON file")

Downloaded Dataset
Loaded JSON file

In [ ]:
# DO NOT RUN

import dlt

generator_pipeline = dlt.pipeline(pipeline_name="ingestion_pipeline", destination="duckdb", dataset_name="steam_dataset")

info = generator_pipeline.run([data], table_name="steam_games", write_disposition="replace")

print(info)